<!DOCTYPE html>
<html lang="cs">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>{{ if .IsHome }}{{ .Site.Title }} | Rozcestník{{ else }}{{ default .Title .Params.smallTitle }} | {{ .Site.Title }}{{ end }}</title>
	
	{{- $description := default .Site.Params.description (default .Summary .Description) -}}
	<meta name="description" content="{{ $description }}" />
	<link rel="canonical" href="{{ .Permalink }}" />

	<meta property="og:title" content="{{ if .IsHome }}{{ .Site.Title }} | Rozcestník{{ else }}{{ default .Title .Params.smallTitle }} | {{ .Site.Title }}{{ end }}" />
	<meta property="og:description" content="{{ $description }}" />
	<meta property="og:url" content="{{ .Permalink }}" />
	<meta property="og:type" content="{{ if .IsHome }}website{{ else }}article{{ end }}" />
	<meta property="og:site_name" content="{{ .Site.Title }}" />

	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:title" content="{{ if .IsHome }}{{ .Site.Title }} | Rozcestník{{ else }}{{ default .Title .Params.smallTitle }} | {{ .Site.Title }}{{ end }}" />
	<meta name="twitter:description" content="{{ $description }}" />
	<meta property="twitter:domain" content="{{ .Site.BaseURL | replaceRE "^https?://([^/]+)/?" "$1" }}" />
	<meta property="twitter:url" content="{{ .Permalink }}" />

	{{ block "head-extra" . }}{{ end }}
	<link rel="stylesheet" href="{{ "/main.css" | relURL }}" />
	<link rel="icon" type="image/jpeg" href="{{ "/img/favicon/favicon.jpg" | relURL }}" />
	<link rel="icon" type="image/png" sizes="32x32" href="{{ "/img/favicon/favicon-32x32.png" | relURL }}" />
	<link rel="icon" type="image/png" sizes="16x16" href="{{ "/img/favicon/favicon-16x16.png" | relURL }}" />
	<script defer src="https://stats.cenly.cz/script.js" data-website-id="37c77f5d-07ae-467c-a4a1-38028827dee0"></script>
</head>
<body>
	<script>document.body.className = localStorage.getItem('theme') || 'light';</script>
	<div id="theme-switcher"></div>
	<a id="scroll-up" href="#" class="hidden">
		<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round">
			<line x1="12" y1="19" x2="12" y2="5"></line>
			<polyline points="5 12 12 5 19 12"></polyline>
		</svg>
	</a>
	<div id="lightbox"><img src="" alt="" /></div>
	<div id="swup" class="transition-fade">
		{{ block "main" . }}{{ end }}
	</div>
	<script src="{{ "/smooth-scroll.min.js" | relURL }}"></script>
	<script src="https://cdn.jsdelivr.net/npm/swup@4/dist/Swup.umd.js"></script>
	<script src="{{ "/main.js" | relURL }}"></script>
</body>
</html>
