{{ define "head-extra" }}
<meta name="description" content="">
<meta property="og:url" content="https://nebrecime.cz">
<meta property="og:type" content="website">
<meta property="og:title" content="Maturita Formalita | Rozcestník">
<meta property="og:description" content="">
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="nebrecime.cz">
<meta property="twitter:url" content="https://nebrecime.cz">
<meta name="twitter:title" content="Maturita Formalita | Rozcestník">
<meta name="twitter:description" content="">
<style>
	main {
		max-width: 90ch;
	}
	h1,
	h3 {
		text-transform: none;
	}
	h2 {
		margin-top: 2em;
	}
	.heading-flex {
		margin-top: 2em;
		display: inline-flex;
		align-items: center;
		line-height: 1;
	}
	.heading-flex > * {
		margin-top: 0;
	}
	.heading-label {
		margin: 0;
		margin-left: 8px;
		background-color: rgba(110, 110, 110, 0.2);
		font-size: 14px;
		line-height: 1.2;
		padding: 6px 16px;
		border-radius: 50vh;
	}
</style>
{{ end }}

{{ define "main" }}
<main>

	<div class="heading-flex">
		<h1>Čeština</h1>
		<span class="heading-label">čeština za free by Dany Machy</span>
	</div>
	<nav>
		<a href="https://drive.google.com/drive/folders/1G8q1SVbVnIAXvOIBS4BuIrVN8ppk9QRn?usp=sharing" target="_blank">
			<div class="num">77</div>
			GOOGLE DRIVE
		</a>
	</nav>

	<div class="heading-flex">
		<h1>DVK</h1>
		<span class="heading-label">by Dominik &amp; audio by Libor</span>
		<span class="heading-label">upravil Dany Machy</span>
	</div>

	<nav>
		<a href="https://docs.google.com/document/d/1KUpn0QarhoeIg8gkC5Fr3FgO_D-l7UKb1fckFN2ubp4/edit?usp=sharing" target="_blank">
			<div class="num">0</div>
			VŠECHNY ZPRACOVANÉ OTÁZKY V GOOGLE DOCS
		</a>
		{{ range seq 1 20 }}
		{{ $page := site.GetPage (printf "/dvk/%d" .) }}
		{{ if $page }}
		<a href="{{ $page.Permalink }}"><div class="num">{{ . }}</div>{{ (default $page.Title $page.Params.smallTitle) | safeHTML }}</a>
		{{ end }}
		{{ end }}
		<a href="{{ "/dvk/chronologie.html" | relURL }}">Chronologie</a>
		<a href="{{ "/dvk/DVK Obrazové přílohy.pdf" | relURL }}" target="_blank">
			Obrazové přílohy
			<img src="{{ "/img/icons/file-text.svg" | relURL }}" alt="file-text" />
		</a>
	</nav>

	<div class="heading-flex">
		<h1>VMA</h1>
		<span class="heading-label">Dejvi &amp; Hora Kubáček</span>
	</div>

	<nav>
		{{ range seq 1 25 }}
		{{ $num := . }}
		{{ $page := site.GetPage (printf "/vma/%d" $num) }}
		{{ if $page }}
		<a href="{{ $page.Permalink }}"><div class="num">{{ $num }}</div>{{ (default $page.Title $page.Params.smallTitle) | safeHTML }}</a>
		{{ else if eq $num 8 }}
		<a href="{{ "/vma/8 HTML.pdf" | relURL }}" target="_blank">
			<div class="num">8</div>HTML a CSS
			<img src="{{ "/img/icons/file-text.svg" | relURL }}" alt="file-text" />
		</a>
		{{ end }}
		{{ end }}
		<br />
		<a href="{{ "/vma/Maturitni-otazky-oboru-VMA-pro-rok-2019-2020.pdf" | relURL }}" target="_blank">
			Oborové otázky
			<img src="{{ "/img/icons/file-text.svg" | relURL }}" alt="file-text" />
		</a>
	</nav>

	<h1 style="margin-top: 2em">UŽITEČNÉ ODKAZY</h1>

	<h2>DVK</h2>
	<h3>History of Art</h3>
	<a href="https://dejinyumeni.blogspot.com/" target="_blank">https://dejinyumeni.blogspot.com/</a>

	<h3>Web Gallery of Art</h3>
	<a href="https://www.wga.hu/" target="_blank">https://www.wga.hu/</a>

	<h2>Čeština</h2>

	<h3>Teorie literatury</h3>
	<a href="http://www.imaturita.cz/maturitni-otazky/cesky-jazyk/teorie-literatury/512/" target="_blank">http://www.imaturita.cz/maturitni-otazky/cesky-jazyk/teorie-literatury/512/</a>

	<h3>Básnické prostředky: 9 nejčastějších figur k maturitě</h3>
	<a href="https://www.studentmag.cz/basnicke-prostredky-zopakujte-si-pred-maturitou-9-nejcastejsich-figur/" target="_blank">https://www.studentmag.cz/basnicke-prostredky-zopakujte-si-pred-maturitou-9-nejcastejsich-figur/</a>

	<h1 style="margin-top: 2em">SOUBORY KE STAŽENÍ</h1>
	<nav>
		<a href="{{ "/dvk/DVK Obrazové přílohy.pdf" | relURL }}" download>
			DVK Obrazové přílohy
			<img src="{{ "/img/icons/download.svg" | relURL }}" alt="download" />
		</a>
		<a href="{{ "/vma/Maturitni-otazky-oboru-VMA-pro-rok-2019-2020.pdf" | relURL }}" download>
			VMA Oborové otázky
			<img src="{{ "/img/icons/download.svg" | relURL }}" alt="download" />
		</a>
	</nav>

	<footer>
		<p>&copy; 2026 Nebrecime.cz</p>
		<p class="small">Tvůrce: <span>Daniel Machalicek</span><br />Správce: <span>Vladimír Urík</span></p>
	</footer>
</main>
{{ end }}
